.vscode/**
.vscode-test/**
node_modules/**
src/**
test/**
out/**
**/*.ts
**/*.map
tsconfig.json
esbuild.mjs
.gitignore
.github/**
images/**
*.vsix

.readme-preview.html
.*preview*.html
967795-*/**
**/.DS_Store

*.pdf
scripts/**
release/**
967795-*/**
__archive__/**
